<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banquetes</title>
    <!--Tipografías-->
    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Para iconos de facebook y demás-->
    <link rel="stylesheet" href="css/banquetes.css"><!--Conectar con css style-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a><!--Clase para el Logo-->
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right"><!--Para que se desplieguen a la derecha-->
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="sobreNosotros.html">Sobre Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contactenos.html">Contáctenos</a></li>
                </ul>
            </div>
        </div>
    </nav> 
    
    <div class="padding">
        <div class="container">
            <div class="row"> <!--Incluye ambas columnas 6 y 6=12-->
                <div class="col-sm-12 col-lg-6" style="padding-top: 15px;">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="img/banquete1.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Banquetes J&M</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum maxime soluta dolorum cum perspiciatis numquam praesentium reprehenderit voluptatibus est! Ducimus nostrum earum porro commodi aperiam voluptatibus, eveniet minus tenetur vero?</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6" style="padding-top: 15px;">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="img/banquete2.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Catering Santa Ana</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum maxime soluta dolorum cum perspiciatis numquam praesentium reprehenderit voluptatibus est! Ducimus nostrum earum porro commodi aperiam voluptatibus, eveniet minus tenetur vero?</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6" style="padding-top: 15px;">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="img/banquete3.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">La Viajera</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum maxime soluta dolorum cum perspiciatis numquam praesentium reprehenderit voluptatibus est! Ducimus nostrum earum porro commodi aperiam voluptatibus, eveniet minus tenetur vero?</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6" style="padding-top: 15px;">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="img/banquete4.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Al Sabor del Ché</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum maxime soluta dolorum cum perspiciatis numquam praesentium reprehenderit voluptatibus est! Ducimus nostrum earum porro commodi aperiam voluptatibus, eveniet minus tenetur vero?</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          
</body>
</html>