<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Servicios</title>
    <!--Tipografías-->
    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Para iconos de facebook y demás-->
    <link rel="stylesheet" href="css/servicios.css"><!--Conectar con css style-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a><!--Clase para el Logo-->
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right"><!--Para que se desplieguen a la derecha-->
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="sobreNosotros.html">Sobre Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contactenos.html">Contáctenos</a></li>
                </ul>
            </div>
        </div>
    </nav> 
    
    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><!--Medida 12=1columna-->
                    <h4><a href="banquetes.html" class="link-servicio">Banquetes</a></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="banquetes.html"><img src="img/banquete.png" class="image-responsive"></a> 
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4><a href="fotografos.html" class="link-servicio">Fotógrafos Profesionales</a></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="fotografos.html"><img src="img/fotografo.png" class="image-responsive"></a>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4><a href="locales.html" class="link-servicio">Locales</a></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="locales.html"><img src="img/local.png" class="image-responsive"></a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4><a href="pasteleria.html" class="link-servicio">Pastelería</a></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="pasteleria.html"><img src="img/queque.png" class="image-responsive"></a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4><a href="decoraciones.html" class="link-servicio">Decoraciones</a></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="decoraciones.html"><img src="img/decoracion.png" class="image-responsive"></a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4><a href="papeleria.html" class="link-servicio">Papelería</a></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="papeleria.html"><img src="img/papeleria.png" class="image-responsive"></a>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>